services:
  website:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
    depends_on:
      - database

  database:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_DATABASE: products
      MYSQL_USER: diego
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootsecret
volumes:
  db_data:


