version: "3.9"

services:
  web:
    build: ./docker
    container_name: grocery_web
    ports:
      - "8080:80"
    volumes:
      - ./public:/var/www/html
      - ./src:/var/www/src
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: grocery_db
    restart: always
    environment:
      MYSQL_DATABASE: grocery
      MYSQL_USER: grocery_user
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootsecret
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
