.product {
    display: flex; 
    border: 1px solid black;
}
.productgrid {
    display: flex;
    flex-wrap: wrap;
}
.login {
   display: flexbox;
    position: absolute;
   top: 40%;
   left: 45%;
   border: 1px solid black
}
.CA {

    position: relative;
    left: 21px;
}